.centered {
  text-align: center;
}

#mapshift-container, #mapshift {
  text-align: center;
  max-width: 700px;
}
#mapshift-container .min {
  display: block;
  float: left;
}
#mapshift-container .max {
  display: block;
  float: right;
}
.district {
  stroke: #000;
  stroke-width: 1.5;
}
.district.dull {
  fill-opacity: 0.25;
}
.democrat {
  fill: #2f3cfc;
}
.republican {
  fill: #fc3c2f;
}
.district.mega {
  stroke-width: 3;
  fill-opacity: 1;
}
.hide {
  display: none;
}
.table > tbody > tr.highlight {
  background-color: #acf;
}
svg#graph {
  overflow: visible;
  margin-left: 15px;
}
.well {
  width: auto;
}
p {
  line-height: 160%;
  font-size: 112%;
}
blockquote {
  margin-top: 18px;
}
#map2 {
  float: left;
}
#map2 .district {
  transition: 2.2s;
}
#sidebar {
  position: absolute;
  right: 15px;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 8px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: rgba(255, 255, 255, 0.8);
}
#sidebar table {
  background: #fff;
}
table .democrat td:last-child, #wasted .democrat {
  color: blue;
}
table .republican td:last-child, #wasted .republican {
  color: red;
}

.mobile-only {
  display: none;
}
.portrait-only {
  display: none;
}
.clearfix {
  clear: both;
}
.hover-help {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 8px;
  border: 1px solid #000;
  font-size: 120%;
  border-radius: 8px;
}
#compact1, #compact2 {
  display: inline-block;
  border: 1px solid #000;
}
#compact3 {
  display: inline-block;
  vertical-align: middle;
}
#compact1 .district, #compact2 .district {
  fill: #0f0;
}

@media (max-width: 800px) {
  .mobile-only {
    display: block;
  }
  
  .desktop-only {
    display: none;
  }
}

@media (max-width: 970px) {
  .hover-help {
    display: none;
  }
}

@media only screen and (orientation : portrait) {
  .portrait-only {
    display: block;
  }
}